Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

chore(deps): update helm release kyverno to v3.7.1
  apps/kyverno/release.yaml
Due: kubeconform

chore(deps): update helm release kyverno to v3.7.1 (#495)
  apps/kyverno/release.yaml
Due: kubeconform

chore(deps): update helm release traefik-crds to v1.14.0
  apps/traefik-crds/release.yaml
Due: kubeconform

Update renovate.json
  renovate.json
Due: none

Add Github aciton to run all Makefiles and automatically update CRDs and render helm templates on PR's
  .github/workflows/update-crds-and-manifests.yaml
  Makefile
Due: none

Remove uneeded kustomize dependency since Github action runner already has this installed
  .github/workflows/pre-commit.yaml
Due: none

Probably was using the wrong syntax here
  .github/workflows/update-crds-and-manifests.yaml
Due: none

chore(deps): update gha-runner-scale-set docker tag to v0.13.1
  apps/github-arc-runners/release.yaml
Due: kubeconform

chore(deps): update gha-runner-scale-set-controller docker tag to v0.13.1
  apps/github-arc-ss-controller/release.yaml
Due: kubeconform

chore(deps): update helm release policy-reporter to v3.7.1
  apps/kyverno/policy-reporter/release.yaml
Due: kubeconform

chore(deps): update helm release aws-load-balancer-controller to v1.17.1
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/crds.yaml
  apps/aws-lb-controller/manifests/ClusterRole-aws-lb-controller-aws-load-balancer-controller-role.yml
  apps/aws-lb-controller/manifests/Deployment-aws-lb-controller-aws-load-balancer-controller.yml
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/Secret-aws-load-balancer-tls.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

chore(deps): update helm release trivy-operator to v0.32.0
  apps/trivy-operator/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/crds.yaml
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/Secret-aws-load-balancer-tls.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

feat(snapshotter): add VolumeSnapshot and VolumeSnapshotContent CRDs, deployment for snapshot controller, and VolumeSnapshotClass
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  apps/external-snapshotter/kustomization.yaml
  apps/external-snapshotter/rbac-snapshot-controller.yaml
  apps/external-snapshotter/setup-snapshot-controller.yaml
  apps/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
  apps/external-snapshotter/volumesnapshotclass.yaml
Due: kustomize, kubeconform

refactor(snapshotter): remove deprecated VolumeGroupSnapshot CRDs and related files
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  apps/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
Due: kubeconform

Add CustomResourceDefinitions and VolumeSnapshotClass for external snapshotter
  apps/velero/external-snapshotter/kustomization.yaml
  apps/velero/external-snapshotter/rbac-snapshot-controller.yaml
  apps/velero/external-snapshotter/setup-snapshot-controller.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
  apps/velero/external-snapshotter/volumesnapshotclass.yaml
  apps/velero/kustomization.yaml
Due: kustomize, kubeconform

feat(snapshotter): Consolidate external-snapshotter into one Kustomize (1:1 migration) (#504)
  apps/velero/external-snapshotter/kustomization.yaml
  apps/velero/external-snapshotter/rbac-snapshot-controller.yaml
  apps/velero/external-snapshotter/setup-snapshot-controller.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
  apps/velero/external-snapshotter/volumesnapshotclass.yaml
  apps/velero/kustomization.yaml
Due: kustomize, kubeconform

Remove deprecated VolumeSnapshot CRDs and associated Kustomization
  apps/external-snapshotter-config/kustomization.yaml
  apps/external-snapshotter-config/volumesnapshotclass.yaml
  apps/external-snapshotter-controller/kustomization.yaml
  apps/external-snapshotter-controller/rbac-snapshot-controller.yaml
  apps/external-snapshotter-controller/setup-snapshot-controller.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  apps/external-snapshotter-crd/kustomization.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshots.yaml
Due: kustomize, kubeconform

fix(druid-operator): revert Helm chart version to 0.3.9
  apps/druid-operator/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/Secret-aws-load-balancer-tls.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

fix(druid-operator): revert Helm chart version to 0.3.9 (#506)
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/Secret-aws-load-balancer-tls.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/druid-operator/release.yaml
Due: kubeconform

Remove deprecated VolumeSnapshot CRDs and associated Kustomization (#505)
  apps/external-snapshotter-config/kustomization.yaml
  apps/external-snapshotter-config/volumesnapshotclass.yaml
  apps/external-snapshotter-controller/kustomization.yaml
  apps/external-snapshotter-controller/rbac-snapshot-controller.yaml
  apps/external-snapshotter-controller/setup-snapshot-controller.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  apps/external-snapshotter-crd/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  apps/external-snapshotter-crd/kustomization.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/external-snapshotter-crd/snapshot.storage.k8s.io_volumesnapshots.yaml
Due: kustomize, kubeconform

Druid Operator releases are now published to a new Helm repo
  apps/druid-operator/release.yaml
  apps/druid-operator/sources.yaml
Due: kubeconform

Druid Operator releases are now published to a new Helm repo (#507)
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/Secret-aws-load-balancer-tls.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/druid-operator/release.yaml
  apps/druid-operator/sources.yaml
Due: kubeconform

New docs
  apps/kyverno/docs/disallow-host-path.md
  apps/kyverno/docs/disallow-privilege-escalation.md
  apps/kyverno/docs/disallow-privileged-containers.md
  apps/kyverno/docs/ecr-images.md
  apps/kyverno/docs/external-secrets.md
  apps/kyverno/docs/readiness-liveness-probes.md
  apps/kyverno/docs/require-resources.md
  apps/kyverno/docs/require-run-as-nonroot.md
  apps/kyverno/docs/restrict-capabilities.md
Due: kubeconform

Enabled warnings on hard-requirements
  apps/kyverno/policies/hard-requirement/require-external-secret-label.yaml
  apps/kyverno/policies/hard-requirement/require-probes.yaml
  apps/kyverno/policies/hard-requirement/restrict-ecr-images.yaml
Due: kubeconform

Adjust Velero node agent memory to avoid OOM
  apps/velero/release.yaml
Due: kubeconform

Correct mistake in fetched crd
  apps/aws-lb-controller/crds.yaml
Due: kubeconform

Disable CRD generation for lb-controller, since it has errors until 1.17.1
  apps/aws-lb-controller/Makefile
  apps/aws-lb-controller/crds.yaml
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
