Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

Change policy category to Hard Requirement
  apps/kyverno/policies/hard-requirement/disallow-service-types.yaml
Due: kubeconform

Create restrict-service-types.yaml
  apps/kyverno/policies/hard-requirement/restrict-service-types.yaml
Due: kubeconform

Update kustomization.yaml
  apps/kyverno/policies/hard-requirement/kustomization.yaml
Due: kustomize, kubeconform

chore(deps): update helm release k8s-monitoring to v1.6.51
  apps/grafana/release.yaml
Due: kubeconform

Update velero/velero-plugin-for-microsoft-azure Docker tag to v1.14.0 (#525)
  apps/velero/release.yaml
Due: kubeconform

Update velero/velero-plugin-for-aws Docker tag to v1.14.0 (#524)
  apps/velero/release.yaml
Due: kubeconform

Don't put new Renovate PRs on hold
  renovate.json
Due: none

Don't put new Renovate PRs on hold (#536)
  renovate.json
Due: none

Moved restrict service types into operational instead
  apps/kyverno/policies/hard-requirement/kustomization.yaml
  apps/kyverno/policies/operational/kustomization.yaml
  apps/kyverno/policies/operational/restrict-service-types.yaml
Due: kustomize, kubeconform

chore(deps): update gha-runner-scale-set docker tag to v0.14.1
  apps/github-arc-runners/release.yaml
Due: kubeconform

chore: remove unused metrics update ss controller
  apps/github-arc-runners/release.yaml
  apps/github-arc-ss-controller/release.yaml
Due: kubeconform

Emit warning on serivce type violations
  apps/kyverno/policies/operational/restrict-service-types.yaml
Due: kubeconform

Add helm chart rendering on goldpinger
  apps/goldpinger/Makefile
  apps/goldpinger/manifests/ClusterRole-goldpinger-clusterrole.yml
  apps/goldpinger/manifests/ClusterRoleBinding-goldpinger-clusterrolebinding.yml
  apps/goldpinger/manifests/ConfigMap-goldpinger-zap.yml
  apps/goldpinger/manifests/DaemonSet-goldpinger.yml
  apps/goldpinger/manifests/Service-goldpinger.yml
  apps/goldpinger/manifests/ServiceAccount-goldpinger.yml
Due: kubeconform

Stop showing chart: atlantis- in the diff
  apps/atlantis/Makefile
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Secret-atlantis-webhook.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

Since we are already rendering CRDS in crds.yaml, we should stop rendering them in manifests folder
  apps/external-secrets/Makefile
  apps/external-secrets/manifests/CustomResourceDefinition-acraccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-cloudsmithaccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clusterexternalsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clustergenerators.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clusterpushsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clustersecretstores.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-ecrauthorizationtokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-externalsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-fakes.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-gcraccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-generatorstates.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-githubaccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-grafanas.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-mfas.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-passwords.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-pushsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-quayaccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-secretstores.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-sshkeys.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-stssessiontokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-uuids.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-vaultdynamicsecrets.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-webhooks.generators.external-secrets.io
Due: kubeconform

Upgrade external snapshotter to v8.5.0 and update RBAC permissions; enhance CRD descriptions and validation rules
  apps/velero/external-snapshotter/rbac-snapshot-controller.yaml
  apps/velero/external-snapshotter/setup-snapshot-controller.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
Due: kubeconform

Refine external-snapshotter setup
  apps/velero/external-snapshotter/Makefile
  apps/velero/external-snapshotter/crds.yaml
  apps/velero/external-snapshotter/kustomization.yaml
  apps/velero/external-snapshotter/manifests/ClusterRole-snapshot-controller-runner.yml
  apps/velero/external-snapshotter/manifests/ClusterRoleBinding-snapshot-controller-role.yml
  apps/velero/external-snapshotter/manifests/Deployment-snapshot-controller.yml
  apps/velero/external-snapshotter/manifests/Role-snapshot-controller-leaderelection.yml
  apps/velero/external-snapshotter/manifests/RoleBinding-snapshot-controller-leaderelection.yml
  apps/velero/external-snapshotter/manifests/ServiceAccount-snapshot-controller.yml
  apps/velero/external-snapshotter/manifests/VolumeSnapshotClass-ebs-snapshotclass.yml
  apps/velero/external-snapshotter/rbac-snapshot-controller.yaml
  apps/velero/external-snapshotter/setup-snapshot-controller.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  apps/velero/external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
Due: kustomize, kubeconform

Update ami for Karpenter
  apps/karpenter-nodes/classes/al2023.yaml
Due: kubeconform

v=5 is considered trace, 1-4 is various level of debug and 0 is errors and key event logging. Setting it to v=0
  apps/velero/external-snapshotter/kustomization.yaml
  apps/velero/external-snapshotter/manifests/Deployment-snapshot-controller.yml
Due: kustomize, kubeconform

Update Helm release policy-reporter to v3.7.4
  apps/kyverno/policy-reporter/release.yaml
Due: kubeconform

Update Helm release traefik-crds to v1.17.0
  apps/traefik-crds/release.yaml
Due: kubeconform

Update Helm release k8s-monitoring to v4
  apps/grafana/release.yaml
Due: kubeconform

Make sure CI runs on changes to any Makefiles too
  .github/workflows/update-crds-and-manifests.yaml
Due: none

Added Helm chart rendering for CI
  apps/traefik-blue-variant/Makefile
  apps/traefik-blue-variant/source.yaml
  apps/traefik-crds/Makefile
  apps/traefik-green-variant/Makefile
  apps/traefik-green-variant/source.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/traefik-blue-variant/manifests/ClusterRole-traefik-blue-variant-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/ClusterRoleBinding-traefik-blue-variant-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/Deployment-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/Gateway-traefik-gateway.yml
  apps/traefik-blue-variant/manifests/GatewayClass-traefik.yml
  apps/traefik-blue-variant/manifests/IngressClass-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/IngressRoute-traefik-blue-variant-dashboard.yml
  apps/traefik-blue-variant/manifests/Service-traefik-blue-variant-metrics.yml
  apps/traefik-blue-variant/manifests/Service-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/ServiceAccount-traefik-blue-variant.yml
  apps/traefik-crds/crds.yaml
  apps/traefik-green-variant/manifests/ClusterRole-traefik-green-variant-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/ClusterRoleBinding-traefik-green-variant-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/Deployment-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/Gateway-traefik-gateway.yml
  apps/traefik-green-variant/manifests/GatewayClass-traefik.yml
  apps/traefik-green-variant/manifests/IngressClass-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/IngressRoute-traefik-green-variant-dashboard.yml
  apps/traefik-green-variant/manifests/Service-traefik-green-variant-metrics.yml
  apps/traefik-green-variant/manifests/Service-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/ServiceAccount-traefik-green-variant.yml
Due: kubeconform

Bump arc-runners ephemeral work volume to 50Gi
  apps/github-arc-runners/release.yaml
Due: kubeconform

Update renovate.json
  renovate.json
Due: none

Update EndBug/add-and-commit action to v10
  .github/workflows/update-crds-and-manifests.yaml
Due: none

Update Helm release falco to v8.0.3
  apps/falco/release.yaml
Due: kubeconform

Update Helm release goldpinger to v1.1.2
  apps/goldpinger/release.yaml
Due: kubeconform

Update Helm release k8s-monitoring to v1.6.52
  apps/grafana/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/goldpinger/manifests/DaemonSet-goldpinger.yml
Due: kubeconform

Update Helm release velero to v12.0.1
  apps/velero/release.yaml
Due: kubeconform

Update Helm release aws-load-balancer-controller to v1.17.1
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Update Helm release connect to v2.4.1
  apps/1password-connect/release.yaml
Due: kubeconform

Update Helm release external-dns to v1.21.1
  apps/external-dns/release.yaml
Due: kubeconform

Update Helm release kyverno to v3.8.0
  apps/kyverno/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/manifests/ClusterRole-aws-lb-controller-aws-load-balancer-controller-role.yml
  apps/aws-lb-controller/manifests/Deployment-aws-lb-controller-aws-load-balancer-controller.yml
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
