Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

Kube-state-metrics was OOM'ing beause of spiky memory usage on restarts
  apps/grafana/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/Deployment-grafana-k8s-monitoring-kube-state-metrics.yml
Due: kubeconform

Increase resource memory for redis for falco, since it was OOM'ing
  apps/falco/release.yaml
Due: kubeconform

Render template
  apps/falco/manifests/StatefulSet-falco-falcosidekick-ui-redis.yml
Due: kubeconform

Remove Falco sidekick webui, since it uses Redis as a backend and that has issues
  apps/falco/manifests/ConfigMap-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/Deployment-falco-falcosidekick-ui.yml
  apps/falco/manifests/Deployment-falco-falcosidekick.yml
  apps/falco/manifests/Role-falco-falcosidekick-ui.yml
  apps/falco/manifests/RoleBinding-falco-falcosidekick-ui.yml
  apps/falco/manifests/Secret-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/Secret-falco-falcosidekick-ui.yml
  apps/falco/manifests/Secret-falco-falcosidekick.yml
  apps/falco/manifests/Service-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/Service-falco-falcosidekick-ui.yml
  apps/falco/manifests/ServiceAccount-falco-falcosidekick-ui.yml
  apps/falco/manifests/StatefulSet-falco-falcosidekick-ui-redis.yml
  apps/falco/release.yaml
Due: kubeconform

whitelist node metric in grafana node exporter
  apps/grafana/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/ConfigMap-grafana-k8s-monitoring-alloy.yml
  apps/grafana/manifests/ConfigMap-validate-grafana-k8s-monitoring.yml
Due: kubeconform

fix use includeMetrics instead
  apps/grafana/release.yaml
Due: kubeconform

whitelist node metric in grafana node exporter (#630)
  apps/grafana/manifests/ConfigMap-grafana-k8s-monitoring-alloy.yml
  apps/grafana/manifests/ConfigMap-validate-grafana-k8s-monitoring.yml
  apps/grafana/release.yaml
Due: kubeconform

add missing velero metric
  apps/velero/release.yaml
Due: kubeconform

add missing velero metric (#631)
  apps/velero/release.yaml
Due: kubeconform

Placed args at wrong controller
  apps/vertical-pod-autoscaler/manifests/Deployment-vpa-vertical-pod-autoscaler-recommender.yml
  apps/vertical-pod-autoscaler/manifests/Deployment-vpa-vertical-pod-autoscaler-updater.yml
  apps/vertical-pod-autoscaler/release.yaml
Due: kubeconform

Add vpa resources
  apps/vertical-pod-autoscaler/kustomization.yaml
Due: kustomize, kubeconform

Get deployment names correct
  apps/vertical-pod-autoscaler/vpa.yaml
Due: kubeconform

Add new lower min for recommender
  apps/vertical-pod-autoscaler/release.yaml
Due: kubeconform

Add new lower min for recommender
  apps/vertical-pod-autoscaler/manifests/Deployment-vpa-recommender.yml
  apps/vertical-pod-autoscaler/release.yaml
Due: kubeconform

adde ksm to monitor flux reconciliatons
  apps/flux-monitoring/Makefile
  apps/flux-monitoring/kustomization.yaml
  apps/flux-monitoring/manifests/ClusterRole-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ClusterRoleBinding-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ConfigMap-kube-state-metrics-customresourcestate-config.yml
  apps/flux-monitoring/manifests/Deployment-kube-state-metrics.yml
  apps/flux-monitoring/manifests/Service-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceAccount-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceMonitor-kube-state-metrics.yml
  apps/flux-monitoring/release.yaml
  apps/flux-monitoring/sources.yaml
Due: kustomize, kubeconform

unique name for flux ksm instacne
  apps/flux-monitoring/manifests/ClusterRole-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ClusterRoleBinding-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ConfigMap-flux-kube-state-metrics-customresourcestate-config.yml
  apps/flux-monitoring/manifests/Deployment-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/Service-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceAccount-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceMonitor-flux-kube-state-metrics.yml
  apps/flux-monitoring/release.yaml
Due: kubeconform

flink operator manifests added
  apps/flink/Makefile
  apps/flink/crds.yaml
  apps/flink/kustomization.yaml
  apps/flink/manifests/Certificate-flink-operator-serving-cert.yml
  apps/flink/manifests/ClusterRole-flink-operator.yml
  apps/flink/manifests/ClusterRoleBinding-flink-operator-role-binding.yml
  apps/flink/manifests/ConfigMap-flink-operator-config.yml
  apps/flink/manifests/Deployment-flink-kubernetes-operator.yml
  apps/flink/manifests/Issuer-flink-operator-selfsigned-issuer.yml
  apps/flink/manifests/MutatingWebhookConfiguration-flink-operator-flink-webhook-configuration.yml
  apps/flink/manifests/Role-flink.yml
  apps/flink/manifests/RoleBinding-flink-role-binding.yml
  apps/flink/manifests/Secret-flink-operator-webhook-secret.yml
  apps/flink/manifests/Service-flink-operator-webhook-service.yml
  apps/flink/manifests/ServiceAccount-flink-operator.yml
  apps/flink/manifests/ServiceAccount-flink.yml
  apps/flink/manifests/ValidatingWebhookConfiguration-flink-operator-flink-webhook-configuration.yml
  apps/flink/namespace.yaml
  apps/flink/release.yaml
  apps/flink/sources.yaml
Due: kustomize, kubeconform

Update CRDs and render helm templates
  apps/flink/manifests/ConfigMap-flink-operator-config.yml
Due: kubeconform

fix release name
  apps/flink/release.yaml
Due: kubeconform

Update Helm release connect to v2.4.1
  apps/1password-connect/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/1password-connect/manifests/Deployment-onepassword-connect.yml
  apps/1password-connect/manifests/Pod-1password-connect-health-check.yml
Due: kubeconform

removed limit on cpu
  apps/flux-monitoring/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/flux-monitoring/manifests/Deployment-flux-kube-state-metrics.yml
Due: kubeconform

enable creating metrics and alerts on failed flux sync jobs (#632)
  apps/flux-monitoring/Makefile
  apps/flux-monitoring/kustomization.yaml
  apps/flux-monitoring/manifests/ClusterRole-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ClusterRoleBinding-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ConfigMap-flux-kube-state-metrics-customresourcestate-config.yml
  apps/flux-monitoring/manifests/Deployment-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/Service-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceAccount-flux-kube-state-metrics.yml
  apps/flux-monitoring/manifests/ServiceMonitor-flux-kube-state-metrics.yml
  apps/flux-monitoring/release.yaml
  apps/flux-monitoring/sources.yaml
Due: kustomize, kubeconform

Added Kyverno policy test framework and tests for restrict-service-types policy
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  apps/kyverno/policies/baseline/kyverno-test.yaml
  apps/kyverno/policies/baseline/tests/.gitkeep
  apps/kyverno/policies/hard-requirement/kyverno-test.yaml
  apps/kyverno/policies/hard-requirement/tests/.gitkeep
  apps/kyverno/policies/operational/kyverno-test.yaml
  apps/kyverno/policies/operational/tests/restrict-service-types.yaml
  apps/kyverno/policies/restricted/kyverno-test.yaml
  apps/kyverno/policies/restricted/tests/.gitkeep
Due: kubeconform

Update Helm release connect to v2.4.1 (#550)
  apps/1password-connect/manifests/Deployment-onepassword-connect.yml
  apps/1password-connect/manifests/Pod-1password-connect-health-check.yml
  apps/1password-connect/release.yaml
Due: kubeconform

Update Helm release atlantis to v6.10.0
  apps/atlantis/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

Adjust Kyverno version
  .github/workflows/pre-commit.yaml
  apps/kyverno/release.yaml
Due: kubeconform

Trying with v in front of version number
  .github/workflows/pre-commit.yaml
Due: none

remove trivy-operator resources and configurations
  apps/trivy-operator/externalsecret.yaml
  apps/trivy-operator/kustomization.yaml
  apps/trivy-operator/namespace.yaml
  apps/trivy-operator/release.yaml
  apps/trivy-operator/secretstore.yaml
  apps/trivy-operator/serviceaccount.yaml
  apps/trivy-operator/sources.yaml
Due: kustomize, kubeconform

remove trivy-operator resources and configurations (#637)
  apps/trivy-operator/externalsecret.yaml
  apps/trivy-operator/kustomization.yaml
  apps/trivy-operator/namespace.yaml
  apps/trivy-operator/release.yaml
  apps/trivy-operator/secretstore.yaml
  apps/trivy-operator/serviceaccount.yaml
  apps/trivy-operator/sources.yaml
Due: kustomize, kubeconform

Added small README about kyverno test command
  apps/kyverno/policies/README.md
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
