Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

chore(deps): update dfds/shared-workflows action to v2.0.4 (#611)
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

Update dependency kubernetes-csi/external-snapshotter to v8.6.0 (#604)
  apps/velero/external-snapshotter/kustomization.yaml
Due: kustomize, kubeconform

chore(deps): update helm release velero to v12.1.0 (#603)
  apps/velero/release.yaml
Due: kubeconform

chore(deps): update helm release cert-manager to v1.20.3
  apps/cert-manager/release.yaml
Due: kubeconform

chore(deps): update velero/velero-plugin-for-aws docker tag to v1.14.2
  apps/velero/release.yaml
Due: kubeconform

chore(deps): update velero/velero-plugin-for-microsoft-azure docker tag to v1.14.2
  apps/velero/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/cert-manager/crds.yaml
  apps/cert-manager/manifests/ClusterRole-cert-manager-edit.yml
  apps/cert-manager/manifests/Deployment-cert-manager-cainjector.yml
  apps/cert-manager/manifests/Deployment-cert-manager-webhook.yml
  apps/cert-manager/manifests/Deployment-cert-manager.yml
  apps/cert-manager/manifests/Job-cert-manager-startupapicheck.yml
Due: kubeconform

chore(deps): update velero/velero-plugin-for-microsoft-azure docker tag to v1.14.2 (#615)
  apps/velero/release.yaml
Due: kubeconform

chore(deps): update velero/velero-plugin-for-aws docker tag to v1.14.2 (#614)
  apps/velero/release.yaml
Due: kubeconform

chore(deps): update helm release keda to v2.20.1
  apps/keda/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/keda/crds.yaml
  apps/keda/manifests/ClusterRole-keda-operator-webhook.yml
  apps/keda/manifests/ClusterRole-keda-operator.yml
  apps/keda/manifests/Deployment-keda-admission-webhooks.yml
  apps/keda/manifests/Deployment-keda-operator-metrics-apiserver.yml
  apps/keda/manifests/Deployment-keda-operator.yml
  apps/keda/manifests/ServiceAccount-keda-metrics-server.yml
  apps/keda/manifests/ServiceAccount-keda-webhook.yml
Due: kubeconform

Update release.yaml
  apps/atlantis/release.yaml
Due: kubeconform

chore(deps): update helm release trivy-operator to v0.34.0
  apps/trivy-operator/release.yaml
Due: kubeconform

chore(deps): update actions/checkout action to v7
  .github/workflows/pre-commit.yaml
  .github/workflows/update-crds-and-manifests.yaml
Due: none

Update CRDs and render helm templates
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

chore(deps): update actions/checkout action to v7 (#618)
  .github/workflows/pre-commit.yaml
  .github/workflows/update-crds-and-manifests.yaml
Due: none

chore(deps): update helm release external-secrets to v2
  apps/external-secrets/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/external-secrets/crds.yaml
  apps/external-secrets/manifests/CustomResourceDefinition-clusterexternalsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clustergenerators.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clusterpushsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-clustersecretstores.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-externalsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-gcraccesstokens.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-passwords.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-pushsecrets.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-secretstores.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-sshkeys.generators.external-secrets.io
  apps/external-secrets/manifests/CustomResourceDefinition-vaultdynamicsecrets.generators.external-secrets.io
  apps/external-secrets/manifests/Deployment-external-secrets-cert-controller.yml
  apps/external-secrets/manifests/Deployment-external-secrets-webhook.yml
  apps/external-secrets/manifests/Deployment-external-secrets.yml
  apps/external-secrets/manifests/ValidatingWebhookConfiguration-secretstore-validate.yml
Due: kubeconform

Update Helm release atlantis to v6 (#571)
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Secret-atlantis-webhook.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/atlantis/release.yaml
Due: kubeconform

chore(deps): update helm release atlantis to v6.9.3
  apps/atlantis/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Secret-atlantis-webhook.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

chore(deps): update helm release atlantis to v6.9.3 (#620)
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Secret-atlantis-webhook.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/atlantis/release.yaml
Due: kubeconform

chore(deps): update helm release falco to v9
  apps/falco/release.yaml
Due: kubeconform

deploy eks-version-exporter using plain kustomize instead of helm
  apps/eks-version-exporter/kustomization.yaml
  apps/eks-version-exporter/release.yaml
  apps/eks-version-exporter/sources.yaml
Due: kustomize, kubeconform

fix link
  apps/eks-version-exporter/kustomization.yaml
Due: kustomize, kubeconform

update kind: Kustomization git repo ref
  apps/eks-version-exporter/kustomization.yaml
Due: kustomize, kubeconform

removed branch ref because versioning is not used for now
  apps/eks-version-exporter/kustomization.yaml
Due: kustomize, kubeconform

test with updated repo refs
  apps/eks-version-exporter/kustomization.yaml
Due: kustomize, kubeconform

added eks version exporter (#600)
  apps/eks-version-exporter/kustomization.yaml
Due: kustomize, kubeconform

We are not handling ingress resources with this controller
  apps/aws-lb-controller/manifests/List-ingress-class.yml
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Add traefik ingressclass and remove unused variant ingressclasses. Move deprecated ingressclass to ingress spec for atlantis
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/release.yaml
  apps/traefik-blue-variant/manifests/IngressClass-traefik-blue-variant.yml
  apps/traefik-blue-variant/release.yaml
  apps/traefik-crds/ingressclass.yaml
  apps/traefik-crds/kustomization.yaml
  apps/traefik-green-variant/manifests/IngressClass-traefik-green-variant.yml
  apps/traefik-green-variant/release.yaml
Due: kustomize, kubeconform

Add comments for clarification and remove obsolete isDefaultClass
  apps/traefik-blue-variant/release.yaml
  apps/traefik-green-variant/release.yaml
Due: kubeconform

Add helm chart rendering for Falco
  apps/falco/Makefile
  apps/falco/manifests/ClusterRole-falco-k8s-metacollector.yml
  apps/falco/manifests/ClusterRoleBinding-falco-k8s-metacollector.yml
  apps/falco/manifests/ConfigMap-falco-falcoctl.yml
  apps/falco/manifests/ConfigMap-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/ConfigMap-falco-grafana-dashboard.yml
  apps/falco/manifests/ConfigMap-falco.yml
  apps/falco/manifests/DaemonSet-falco.yml
  apps/falco/manifests/Deployment-falco-falcosidekick-ui.yml
  apps/falco/manifests/Deployment-falco-falcosidekick.yml
  apps/falco/manifests/Deployment-falco-k8s-metacollector.yml
  apps/falco/manifests/Pod-falco-falcosidekick-test-connection.yml
  apps/falco/manifests/Role-falco-falcosidekick-ui.yml
  apps/falco/manifests/Role-falco-falcosidekick.yml
  apps/falco/manifests/RoleBinding-falco-falcosidekick-ui.yml
  apps/falco/manifests/RoleBinding-falco-falcosidekick.yml
  apps/falco/manifests/Secret-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/Secret-falco-falcosidekick-ui.yml
  apps/falco/manifests/Secret-falco-falcosidekick.yml
  apps/falco/manifests/Service-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/Service-falco-falcosidekick-ui.yml
  apps/falco/manifests/Service-falco-falcosidekick.yml
  apps/falco/manifests/Service-falco-k8s-metacollector.yml
  apps/falco/manifests/Service-falco-metrics.yml
  apps/falco/manifests/ServiceAccount-falco-falcosidekick-ui.yml
  apps/falco/manifests/ServiceAccount-falco-falcosidekick.yml
  apps/falco/manifests/ServiceAccount-falco-k8s-metacollector.yml
  apps/falco/manifests/ServiceAccount-falco.yml
  apps/falco/manifests/StatefulSet-falco-falcosidekick-ui-redis.yml
Due: kubeconform

Set resources on components missing and add max memory policy to Redis
  apps/falco/manifests/ConfigMap-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/DaemonSet-falco.yml
  apps/falco/manifests/Deployment-falco-falcosidekick-ui.yml
  apps/falco/manifests/Deployment-falco-k8s-metacollector.yml
  apps/falco/manifests/StatefulSet-falco-falcosidekick-ui-redis.yml
  apps/falco/release.yaml
Due: kubeconform

Increase maxmemory for redis
  apps/falco/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/falco/manifests/ConfigMap-falco-falcosidekick-ui-redis.yml
Due: kubeconform

Added missing resources and rightsizing where needed
  apps/grafana/manifests/DaemonSet-grafana-k8s-monitoring-prometheus-node-exporter.yml
  apps/grafana/manifests/Deployment-grafana-k8s-monitoring-kube-state-metrics.yml
  apps/grafana/manifests/StatefulSet-grafana-k8s-monitoring-alloy.yml
  apps/grafana/release.yaml
Due: kubeconform

Minor fixes to resources and alloy-logs rollout strategy
  apps/grafana/manifests/DaemonSet-grafana-k8s-monitoring-alloy-logs.yml
  apps/grafana/release.yaml
Due: kubeconform

Redis recommends 5x of memory allocated as volume size. Since we have maxmemory set, we will 5x that in stead
  apps/falco/manifests/ConfigMap-falco-falcosidekick-ui-redis.yml
  apps/falco/manifests/StatefulSet-falco-falcosidekick-ui-redis.yml
  apps/falco/release.yaml
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
