Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
  - repo: local
    hooks:
      - id: kustomize
        name: Validate Kustomizations
        language: system
        entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --
        files: kustomization.yaml
  - repo: local
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests schemas
        language: system
        entry: kubeconform
        args:
          - -strict
          - -skip
          - CustomResourceDefinition,Kustomization,EC2NodeClass # EC2NodeClass fails due to postBuildSubstitutions ${flux_karpenter_node_volume_size}
          - -schema-location
          - default
          - -schema-location
          - "https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        files: ^apps/.*

Fix typos
  apps/kyverno/policies/README.md
Due: kubeconform

Update Helm release atlantis to v6.10.0 (#636)
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/atlantis/release.yaml
Due: kubeconform

Update dfds/shared-workflows action to v2.0.5
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

Update dfds/shared-workflows action to v2.0.5 (#639)
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

Update Helm release atlantis to v6.10.1
  apps/atlantis/release.yaml
Due: kubeconform

Update Helm release aws-load-balancer-controller to v1.17.1
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/manifests/ClusterRole-aws-lb-controller-aws-load-balancer-controller-role.yml
  apps/aws-lb-controller/manifests/Deployment-aws-lb-controller-aws-load-balancer-controller.yml
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

Update public.ecr.aws/karpenter/karpenter Docker tag to v1.14.0
  apps/karpenter/sources.yaml
Due: kubeconform

Update registry.k8s.io/sig-storage/snapshot-controller Docker tag to v8.6.0
  apps/velero/external-snapshotter/kustomization.yaml
Due: kustomize, kubeconform

Update EndBug/add-and-commit action to v11
  .github/workflows/update-crds-and-manifests.yaml
Due: none

Update Helm release aws-load-balancer-controller to v3
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/karpenter/crds.yaml
  apps/karpenter/manifests/ClusterRole-karpenter-core.yml
  apps/karpenter/manifests/Deployment-karpenter.yml
Due: kubeconform

Update Helm release falco to v9
  apps/falco/release.yaml
Due: kubeconform

Update Helm release k8s-monitoring to v4
  apps/grafana/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/manifests/ClusterRole-aws-lb-controller-aws-load-balancer-controller-role.yml
  apps/aws-lb-controller/manifests/Deployment-aws-lb-controller-aws-load-balancer-controller.yml
  apps/aws-lb-controller/manifests/MutatingWebhookConfiguration-aws-load-balancer-webhook.yml
  apps/aws-lb-controller/manifests/ValidatingWebhookConfiguration-aws-load-balancer-webhook.yml
Due: kubeconform

Update Helm release traefik to v41
  apps/traefik-blue-variant/release.yaml
  apps/traefik-green-variant/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/falco/manifests/ConfigMap-falco-falcoctl.yml
  apps/falco/manifests/ConfigMap-falco.yml
  apps/falco/manifests/DaemonSet-falco.yml
Due: kubeconform

Update CRDs and render helm templates
  apps/traefik-blue-variant/manifests/ClusterRole-traefik-blue-variant-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/Deployment-traefik-blue-variant.yml
  apps/traefik-blue-variant/manifests/Service-traefik-blue-variant.yml
  apps/traefik-green-variant/manifests/ClusterRole-traefik-green-variant-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/Deployment-traefik-green-variant.yml
  apps/traefik-green-variant/manifests/Service-traefik-green-variant.yml
Due: kubeconform

Fix another typo
  apps/kyverno/policies/README.md
Due: kubeconform

Update Helm release cert-manager to v1.21.1
  apps/cert-manager/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/cert-manager/crds.yaml
  apps/cert-manager/manifests/ClusterRole-cert-manager-edit.yml
  apps/cert-manager/manifests/Deployment-cert-manager-cainjector.yml
  apps/cert-manager/manifests/Deployment-cert-manager-webhook.yml
  apps/cert-manager/manifests/Deployment-cert-manager.yml
  apps/cert-manager/manifests/Job-cert-manager-startupapicheck.yml
  apps/cert-manager/manifests/Role-cert-manager-tokenrequest.yml
  apps/cert-manager/manifests/RoleBinding-cert-manager-tokenrequest.yml
  apps/cert-manager/manifests/Service-cert-manager.yml
Due: kubeconform

Update Helm release external-secrets to v2
  apps/external-secrets/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/external-secrets/crds.yaml
  apps/external-secrets/manifests/ClusterRole-external-secrets-cert-controller.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-controller.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-edit.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-view.yml
  apps/external-secrets/manifests/Deployment-external-secrets-cert-controller.yml
  apps/external-secrets/manifests/Deployment-external-secrets-webhook.yml
  apps/external-secrets/manifests/Deployment-external-secrets.yml
  apps/external-secrets/manifests/ValidatingWebhookConfiguration-secretstore-validate.yml
Due: kubeconform

Update Helm release external-secrets to v2 (#619)
  apps/external-secrets/crds.yaml
  apps/external-secrets/manifests/ClusterRole-external-secrets-cert-controller.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-controller.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-edit.yml
  apps/external-secrets/manifests/ClusterRole-external-secrets-view.yml
  apps/external-secrets/manifests/Deployment-external-secrets-cert-controller.yml
  apps/external-secrets/manifests/Deployment-external-secrets-webhook.yml
  apps/external-secrets/manifests/Deployment-external-secrets.yml
  apps/external-secrets/manifests/ValidatingWebhookConfiguration-secretstore-validate.yml
  apps/external-secrets/release.yaml
Due: kubeconform

Update Helm release policy-reporter to v3.9.1
  apps/kyverno/policy-reporter/release.yaml
Due: kubeconform

Update actions/setup-python action to v7
  .github/workflows/pre-commit.yaml
Due: none

Update Helm release falco to v9 (#621)
  apps/falco/manifests/ConfigMap-falco-falcoctl.yml
  apps/falco/manifests/ConfigMap-falco.yml
  apps/falco/manifests/DaemonSet-falco.yml
  apps/falco/release.yaml
Due: kubeconform

Update actions/setup-python action to v7 (#644)
  .github/workflows/pre-commit.yaml
Due: none

Update EndBug/add-and-commit action to v11 (#645)
  .github/workflows/update-crds-and-manifests.yaml
Due: none

Update Helm release atlantis to v6.10.1 (#640)
  apps/atlantis/manifests/ConfigMap-atlantis-repo-config.yml
  apps/atlantis/manifests/Ingress-atlantis.yml
  apps/atlantis/manifests/PersistentVolumeClaim-atlantis-data.yml
  apps/atlantis/manifests/Service-atlantis.yml
  apps/atlantis/manifests/ServiceAccount-atlantis.yml
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/atlantis/release.yaml
Due: kubeconform

Update karpenter EC2NodeClass to use latest AMI v20260810
  apps/karpenter-nodes/classes/al2023.yaml
Due: kubeconform

Update Helm release kube-state-metrics to v8.3.0
  apps/flux-monitoring/release.yaml
Due: kubeconform

Update registry.k8s.io/sig-storage/snapshot-controller Docker tag to v8.6.0 (#643)
  apps/velero/external-snapshotter/kustomization.yaml
Due: kustomize, kubeconform

Update Helm release keda to v2.20.2
  apps/keda/release.yaml
Due: kubeconform

Update Helm release keda to v2.20.2 (#616)
  apps/keda/release.yaml
Due: kubeconform

Update dfds/shared-workflows action to v2.0.6
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

Update Helm release atlantis to v6.11.0
  apps/atlantis/release.yaml
Due: kubeconform

Update Helm release external-secrets to v2.9.0
  apps/external-secrets/release.yaml
Due: kubeconform
