Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

Update gha-runner-scale-set Docker tag to v0.14.2
  apps/github-arc-runners/release.yaml
Due: kubeconform

Update gha-runner-scale-set-controller Docker tag to v0.14.2
  apps/github-arc-ss-controller/release.yaml
Due: kubeconform

Exluded autoscalingrunnerset from kubeconform check in pre-commit hook
  .pre-commit-config.yaml
Due: none

Stop running kubeconform on rendered helm charts, since it is only causing issues
  .pre-commit-config.yaml
Due: none

Update ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set Docker tag to v0.14.2
  apps/github-arc-runners/sources.yaml
Due: kubeconform

Update ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller Docker tag to v0.14.2
  apps/github-arc-ss-controller/sources.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/github-arc-ss-controller/manifests/Deployment-arc-gha-rs-controller.yml
Due: kubeconform

update make file to fix empty yml file and handle Prometheus operator CRD generation properly
  apps/grafana/Makefile
Due: kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/-.yml
Due: kubeconform

update release to skip CRDs and add it to kustomize
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
Due: kustomize, kubeconform

Update CRDs and render helm templates
  apps/traefik-green-variant/manifests/Service-traefik-green-variant.yml
Due: kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/Service-grafana-k8s-monitoring-alloy-events.yml
  apps/grafana/manifests/Service-grafana-k8s-monitoring-alloy-logs.yml
  apps/grafana/manifests/Service-grafana-k8s-monitoring-alloy.yml
  apps/grafana/manifests/Service-grafana-k8s-monitoring-grafana-agent.yml
  apps/grafana/manifests/Service-grafana-k8s-monitoring-prometheus-node-exporter.yml
Due: kubeconform

ensure that prometheus operator crds are managed by kustomize only
  apps/grafana/Makefile
  apps/grafana/release.yaml
Due: kubeconform

Update Karpenter AMI to v20260527
  apps/karpenter-nodes/classes/al2023.yaml
Due: kubeconform

grafana agent memory request and limit set to be the same to guarantee memory resource allocations
  apps/grafana/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/StatefulSet-grafana-k8s-monitoring-alloy.yml
Due: kubeconform

grafana agent memory request and limit set to be the same to guarantee memory resource allocations (#584)
  apps/grafana/manifests/StatefulSet-grafana-k8s-monitoring-alloy.yml
  apps/grafana/release.yaml
Due: kubeconform

Update workflow references to use specific version tags for consistency
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

Update externalsecret-atlantis-environment.yaml
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

Update workflow references to use specific version tags for consistency (#585)
  .github/workflows/autorelease.yaml
  .github/workflows/enforce-pr-labels.yaml
Due: none

revert migration of grafana CRDs to flux
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
Due: kustomize, kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/ConfigMap-grafana-k8s-monitoring-alloy.yml
Due: kubeconform

revert migration of grafana CRDs to flux (#587)
  apps/grafana/kustomization.yaml
  apps/grafana/manifests/ConfigMap-grafana-k8s-monitoring-alloy.yml
  apps/grafana/release.yaml
Due: kustomize, kubeconform

move servicemonitor out of grafana agent release to its own file
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
  apps/grafana/servicemonitor.yaml
Due: kustomize, kubeconform

Update CRDs and render helm templates
  apps/grafana/manifests/ServiceMonitor-prometheus-service-metrics-scraper.yml
Due: kubeconform

missing namespace
  apps/grafana/servicemonitor.yaml
Due: kubeconform

test remove servicemonitor
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

re-add servicemonitor.yaml
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

revert servicemonitor.yaml
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

fix servicemonitor
  apps/grafana/servicemonitor.yaml
Due: kubeconform

ensure servicemonitor added
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

Revert "Update externalsecret-atlantis-environment.yaml"
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

Update property name for staging Falco Slack alert webhook to use the one named in Slack dfds.slack.com webhooks
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

Update property name for staging Falco Slack alert webhook to use the one named in Slack dfds.slack.com webhooks (#591)
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

Remove unused Falco webhook stream secrets from environment configuration
  apps/atlantis/externalsecret-atlantis-environment.yaml
  apps/atlantis/release.yaml
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
