Repository dfds/platform-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize, kubeconform

kustomize:
  name: Validate Kustomizations
  language: system
  entry: bash -c 'dirname $@ | xargs -I {} kustomize build {} > /dev/null' --

kubeconform:
  name: Validate Kubernetes manifests schemas
  language: system
  entry: kubeconform
  args:
  - -strict
  - -skip
  - CustomResourceDefinition,Kustomization,EC2NodeClass
  - -schema-location
  - default
  - -schema-location
  ...

Update Helm release policy-reporter to v3.7.4
  apps/kyverno/policy-reporter/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/1password-connect/manifests/Deployment-onepassword-connect.yml
  apps/1password-connect/manifests/Pod-1password-connect-health-check.yml
Due: kubeconform

Update CRDs and render helm templates
  apps/external-dns/manifests/Deployment-external-dns.yml
Due: kubeconform

Update renovate.json
  renovate.json
Due: none

Enforce restrict service type policy
  apps/kyverno/policies/operational/restrict-service-types.yaml
Due: kubeconform

enable grafana agent read load secrets using externalsecrets
  apps/grafana/release.yaml
  apps/grafana/secretstore-1password.yaml
  apps/grafana/secretstore-ssm.yaml
Due: kubeconform

Update Helm release traefik-crds to v1.18.0
  apps/traefik-crds/release.yaml
Due: kubeconform

Stop validation of Traefik variants serivce type nodeport, since postBuildVariableSubst is breaking validation
  .pre-commit-config.yaml
Due: none

include resources
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

rearrange
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

Update Helm release trivy-operator to v0.32.1
  apps/trivy-operator/release.yaml
Due: kubeconform

added externalsecret grafana ssm for 1password access
  apps/grafana/externalsecret-1password-auth.yaml
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

Update CRDs and render helm templates
  apps/traefik-crds/crds.yaml
Due: kubeconform

add externalsecret for testing
  apps/grafana/externalsecret-loki.yaml
  apps/grafana/externalsecret-prometheus.yaml
  apps/grafana/externalsecret-tempo.yaml
  apps/grafana/kustomization.yaml
Due: kustomize, kubeconform

control which 1password entry to use for grafana agent
  apps/grafana/externalsecret-loki.yaml
Due: kubeconform

ensure alignment on externalsecrets access
  apps/grafana/externalsecret-prometheus.yaml
  apps/grafana/externalsecret-tempo.yaml
Due: kubeconform

Remove AWS LB controller namespace scope, since we now limits service type loadbalancers
  apps/aws-lb-controller/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/aws-lb-controller/manifests/Deployment-aws-lb-controller-aws-load-balancer-controller.yml
Due: kubeconform

grafana backend configs is now loaded from a single externalsecret
  apps/grafana/externalsecret-alloy.yaml
  apps/grafana/externalsecret-loki.yaml
  apps/grafana/externalsecret-prometheus.yaml
  apps/grafana/externalsecret-tempo.yaml
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
Due: kustomize, kubeconform

cost configs fixes in metrics
  apps/grafana/release.yaml
Due: kubeconform

load cluster name correctly
  apps/grafana/release.yaml
Due: kubeconform

Add targetgroupbindings for traefik green
  apps/aws-lb-controller/release.yaml
  apps/traefik-green-variant/kustomization.yaml
  apps/traefik-green-variant/release.yaml
  apps/traefik-green-variant/targetgroupbindings.yaml
Due: kustomize, kubeconform

Fix typos
  apps/traefik-green-variant/targetgroupbindings.yaml
Due: kubeconform

Change service type to ClusterIP and add namespace labe
  apps/traefik-green-variant/namespace.yaml
  apps/traefik-green-variant/release.yaml
Due: kubeconform

fixes
  apps/grafana/release.yaml
Due: kubeconform

Added force annotations
  apps/traefik-green-variant/targetgroupbindings.yaml
Due: kubeconform

Remove externalTrafficPolicy since not used for ClusterIP
  apps/traefik-green-variant/release.yaml
Due: kubeconform

service account moved to its own file
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
  apps/grafana/serviceaccount.yaml
Due: kustomize, kubeconform

enable grafana agent read load secrets using externalsecrets (#554)
  apps/grafana/externalsecret-1password-auth.yaml
  apps/grafana/externalsecret-alloy.yaml
  apps/grafana/kustomization.yaml
  apps/grafana/release.yaml
  apps/grafana/secretstore-1password.yaml
  apps/grafana/secretstore-ssm.yaml
  apps/grafana/serviceaccount.yaml
Due: kustomize, kubeconform

add needed secret mappings in atlantis to support Grafana access to 1password
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

add needed secret mappings in atlantis to support Grafana access to 1password (#561)
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

update external secret references for Datalake AWS credentials
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

update external secret references for Datalake AWS credentials (#562)
  apps/atlantis/externalsecret-atlantis-environment.yaml
Due: kubeconform

add missing secrets into atlantis release
  apps/atlantis/release.yaml
Due: kubeconform

Update CRDs and render helm templates
  apps/atlantis/manifests/StatefulSet-atlantis.yml
Due: kubeconform

add missing secrets into atlantis release (#563)
  apps/atlantis/manifests/StatefulSet-atlantis.yml
  apps/atlantis/release.yaml
Due: kubeconform

Drop unused STAGING_* secrets from Atlantis pod env
  apps/atlantis/release.yaml
Due: kubeconform

Path conditions:
  kustomize: any of: kustomization.yaml
  kubeconform: any of: ^apps/.*
